[submodule "svyUtils"]
	path = svyUtils
	url = https://github.com/Servoy/svyUtils.git
	branch = svy82x
[submodule "svyShowdown"]
	path = svyShowdown
	url = https://github.com/Servoy/svyShowdown.git
	branch = master
[submodule "svyBlockUI"]
	path = svyBlockUI
	url = https://github.com/Servoy/svyBlockUI.git
	branch = master
[submodule "servoy-extra-components"]
	path = servoy-extra-components
	url = https://github.com/Servoy/servoy-extra-components
	branch = master
