[submodule "svyUtils"]
	path = svyUtils
	url = https://github.com/Servoy/svyUtils.git
	branch = develop
[submodule "svyShowdown"]
	path = svyShowdown
	url = https://github.com/Servoy/svyShowdown.git
[submodule "svyBlockUI"]
	path = svyBlockUI
	url = https://github.com/Servoy/svyBlockUI.git