
/**
 * IMPORT CUSTOM CSS
 */
@IMPORT url("custom.css");

/****************************
 * DEFAULT SERVOY SELECTORS
 */

.frm-globalCSS .svy-label {}

.frm-globalCSS .svy-check {}

.frm-globalCSS .svy-form {
	border: none;
}

.frm-globalCSS .svy-radiogroup {
	background-color: #fff;
    padding: 12px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.frm-globalCSS .svy-check-radio
{
	padding: 4px;
	color: #0060a0;
	cursor: pointer;
}
.frm-globalCSS .svy-textarea
{
	font-size: 14px;
	font-weight: bold;
}
.frm-globalCSS .svy-combobox
{
	
}
.frm-globalCSS .svy-button
{

}
.frm-globalCSS .svy-field
{
	
}



/****************************************************************
 * SELECTORS FOR CHANGE OF STATE, i.e. focus | hover | diabled
 */

.frm-css-sample .svy-field:FOCUS, .frm-css-sample .svy-textarea:FOCUS
{
	background-color: #fffeee;
	font-weight: bold;
}
.frm-css-sample .svy-field:HOVER, .frm-css-sample .svy-textarea:HOVER
{
	background-color: #fafaff;
}

.frm-css-sample .svy-check:HOVER
{
	background-color: #eee;
}

.frm-css-sample .svy-check-radio:HOVER
{
	color: #ff8000;
}
/* Override inherited styles from Servoy/Bootstrap, i.e. disbaled fields */
.frm-css-sample .form-control[disabled]
{
	color: #d66;
}
.frm-css-sample *:FOCUS
 {
 	/* remove outline on focused elements */
 	outline: none;
 }


/****************************
 * EXTEND GLOBAL SELECTORS
 */
.frm-css-sample .svy-label.header
{
	font-weight: bold;
	color: #0060a0;
	padding-left: 15px;
	font-size: larger;
}
.frm-css-sample .svy-label.frame
{
	border: 1px solid #d5d5d5;
	background-color: #fafafa;
}
.frm-css-sample .svy-form.detail
{
	margin-top: 2px;
}	


/**************************
 * Style Tab panel tabs
 */
 /*
.nav-tabs
{
	border-bottom: 2px solid #fc8f00;
	padding-left: 10px;
}
/* Pseudo class, selecting child elements of a certain type */
/*
.nav-tabs > li
{
	margin-bottom: -2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:FOCUS
{
	color: #444;
	font-size: 11pt;
	font-weight: bold;
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
} */

.invalid
{
	border: 2px solid #ff0000;
	color: #f00;
}