colors {
	Orange: #EB8C39;
	Light-Orange: #F5B986;
	Light-Gray : #F8F8F8; /* Deprecated */
	
	Dark-Orange: #E9720B;
	
	Dark-Bg: #18222C;
	Dark-Selected: #464E56;
	Dark-Border: #364453;
	
	Light-Gray: #DBDBDB; /* Text label, Border */
	
	Label-Font: #777777; /* Label Text */
	Field-Color: #4A4A4A;
}

/* FIXME how to add a theme to dropdown and other items not in form : Calendar Dialog, Dropdown etc..*/


/* General Style */
:focus {
	outline: none;
}

/* Button */
.theme-servoy .svy-button,
.theme-servoy .bts-button,
.theme-servoy .btn {
	border-radius: 2px;
}

.theme-servoy .btn:focus, .theme-servoy .btn:active:focus, 
.theme-servoy .btn.active:focus, .theme-servoy .btn.focus, 
.theme-servoy .btn:active.focus, .theme-servoy .btn.active.focus {
	outline-color: #F5B986;
	border-color: #F5B986;
}

/* Label */
.theme-servoy .svy-label,
.theme-servoy .bts-label {
	color: #777777;
	font-weight: 100;
	/* font-size: 12px; */
}

.theme-servoy .btn-success,
.theme-servoy .btn-info,
.theme-servoy .btn-warning,
.theme-servoy .btn-danger {
	color: #FFF;
}

/* Fields */
.theme-servoy .form-control {
	box-shadow: none;
	border-radius: 2px;
}

.theme-servoy .form-control:focus {
	outline: 1px;
	outline-color: #F5B986;
	border-color: #F5B986;
	box-shadow: none;
}

.theme-servoy .svy-field,
.theme-servoy .svy-textarea, .theme-servoy .bts-textarea,
.theme-servoy .svy-textfield, .theme-servoy .bts-textbox,
.theme-servoy .svy-typeahead, .theme-servoy .bts-typeahead,
.theme-servoy .svy-combobox, .theme-servoy .svy-combobox ~ .input-group-addon,
.theme-servoy .bts-select, .theme-servoy .bts-select ~ .input-group-addon,
.theme-servoy .svy-calendar, .theme-servoy .svy-calendar ~ .input-group-addon,
.theme-servoy .bts-calendar input, .theme-servoy .bts-calendar input ~ .input-group-addon {
	border: 0;
	border-bottom: 1px solid #DBDBDB;
	border-radius: 0;
	box-shadow: none;
	color: #777777;
	font-size: 14px;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	   -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	     -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  	        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.theme-servoy .input-group.date .input-group-addon {
	background-color: inherit;
}

.theme-servoy .svy-field:focus,
.theme-servoy .svy-textarea:focus, .theme-servoy .bts-textarea:focus,
.theme-servoy .svy-textfield:focus, .theme-servoy .bts-textbox:focus,
.theme-servoy .svy-typeahead:focus, .theme-servoy .bts-typeahead:focus,
.theme-servoy .svy-combobox:focus, .theme-servoy .svy-combobox:focus ~ .input-group-addon,
.theme-servoy .bts-select:focus, .theme-servoy .bts-select:focus ~ .input-group-addon,
.theme-servoy .svy-calendar:focus, .theme-servoy .svy-calendar:focus ~ .input-group-addon,
.theme-servoy .bts-calendar input:focus, .theme-servoy .bts-calendar input:focus ~ .input-group-addon  {
	border-color: #E9720B;
}

.theme-servoy .form-control[disabled], 
.theme-servoy .form-control[readonly], 
.theme-servoy fieldset[disabled] .form-control {
	background-color: inherit;
	opacity: 0.6;
	border-color: #DBDBDB;
}

/* Checkbox */
/*** custom checkboxes ***/
.theme-servoy .svy-check label,
.theme-servoy .svy-checkgroup label,
.theme-servoy .svy-radiogroup label,
.theme-servoy .bts-check label,
.theme-servoy .bts-radiogroup label {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.theme-servoy .svy-check input[type=checkbox],
.theme-servoy .svy-check input[type=radio],
.theme-servoy .svy-checkgroup input[type=checkbox],
.theme-servoy .svy-radiogroup input[type=radio],
.theme-servoy .bts-check input[type=checkbox],
.theme-servoy .bts-radiogroup input[type=checkbox],
.theme-servoy .bts-radiogroup input[type=radio] { 
	display:none; /* to hide the checkbox itself */
} 

.theme-servoy .svy-check input[type=checkbox] + span:before,
.theme-servoy .svy-check input[type=radio] + span:before,
.theme-servoy .svy-checkgroup input[type=checkbox] + span:before,
.theme-servoy .svy-radiogroup input[type=radio] + span:before,
.theme-servoy .bts-check input[type=checkbox] + span:before,
.theme-servoy .bts-radiogroup input[type=checkbox] + span:before,
.theme-servoy .bts-radiogroup input[type=radio] + span:before {
  	display: inline-block;
  	font-family: 'Glyphicons Halflings';
  	letter-spacing: 5px;
}

.theme-servoy input[type="radio"][disabled] + span, 
.theme-servoy input[type="checkbox"][disabled] + span, 
.theme-servoy input[type="radio"].disabled + span, 
.theme-servoy input[type="checkbox"].disabled + span, 
.theme-servoy fieldset[disabled] input[type="radio"] + span, 
.theme-servoy fieldset[disabled] input[type="checkbox"] + span {
    cursor: not-allowed;
}

.theme-servoy input[type="radio"][disabled] + span:before, 
.theme-servoy input[type="checkbox"][disabled] + span:before, 
.theme-servoy input[type="radio"].disabled + span:before, 
.theme-servoy input[type="checkbox"].disabled + span:before, 
.theme-servoy fieldset[disabled] input[type="radio"] + span:before, 
.theme-servoy fieldset[disabled] input[type="checkbox"] + span:before {
    cursor: not-allowed;
    opacity: 0.6;
}

.theme-servoy .svy-check input[type=checkbox] + span:before,
.theme-servoy .bts-check input[type=checkbox] + span:before,
.theme-servoy .svy-checkgroup input[type=checkbox] + span:before,
.theme-servoy .bts-radiogroup input[type=checkbox] + span:before { 
	content: "\e157";
}

.theme-servoy .svy-check input[type=checkbox]:checked + span:before,
.theme-servoy .bts-check input[type=checkbox]:checked + span:before,
.theme-servoy .svy-checkgroup input[type=checkbox]:checked + span:before,
.theme-servoy .bts-radiogroup input[type=checkbox]:checked + span:before {
	content: "\e067";
}

.theme-servoy .svy-radiogroup input[type=radio] + span:before,
.theme-servoy .bts-radiogroup input[type=radio] + span:before { 
	content: "\e157";
}

.theme-servoy .svy-radiogroup input[type=radio]:checked + span:before,
.theme-servoy .bts-radiogroup input[type=radio]:checked + span:before {
	content: "\e165";
}

/* Calendar Field *
.theme-servoy .bts-calendar input {
	border: 0;
}

/* Input Groups *
.theme-servoy .input-group .input-group-addon {
	background-color: inherit;
	border-radius: 0;
	border-width: 0;
	border-color: #DBDBDB;
	border-bottom-width: 1px;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	   -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	     -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  	        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.theme-servoy .svy-field:focus ~ .input-group-addon,
.theme-servoy .svy-textarea:focus ~ .input-group-addon, .theme-servoy .bts-textarea:focus ~ .input-group-addon,
.theme-servoy .svy-textfield:focus ~ .input-group-addon, .theme-servoy .bts-textbox:focus ~ .input-group-addon,
.theme-servoy .svy-typeahead:focus ~ .input-group-addon, .theme-servoy .bts-typeahead:focus ~ .input-group-addon,
.theme-servoy .svy-combobox:focus ~ .input-group-addon, .theme-servoy .bts-select:focus ~ .input-group-addon,
.theme-servoy .svy-calendar:focus ~ .input-group-addon, .theme-servoy .bts-calendar:focus ~ .input-group-addon, 
.theme-servoy .bts-calendar input:focus ~ .input-group-addon  {
	border-color: #E9720B;
}

.theme-servoy .svy-field:focus ~ .input-group-addon,
.theme-servoy .svy-textarea:focus ~ .input-group-addon, .theme-servoy .bts-textarea:focus ~ .input-group-addon,
.theme-servoy .svy-textfield:focus ~ .input-group-addon, .theme-servoy .bts-textbox:focus ~ .input-group-addon,
.theme-servoy .svy-typeahead:focus ~ .input-group-addon, .theme-servoy .bts-typeahead:focus ~ .input-group-addon,
.theme-servoy .svy-combobox:focus ~ .input-group-addon, .theme-servoy .bts-select:focus ~ .input-group-addon,
.theme-servoy .svy-calendar:focus ~ .input-group-addon, .theme-servoy .bts-calendar:focus ~ .input-group-addon, 
.theme-servoy .bts-calendar input:focus ~ .input-group-addon  {
	border-color: #E9720B;
}

.theme-servoy .svy-calendar input,
.theme-servoy .bts-calendar input,
.theme-servoy .table .input-group .input-group-addon {
	background-color: #FFF;
}
*/

/* Calendar Picker */
.bootstrap-datetimepicker-widget a {
	color: #F5B986;
}

.bootstrap-datetimepicker-widget table td.today {
	color: #E9720B;
}

.bootstrap-datetimepicker-widget table td.active, 
.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #E9720B;
	color: #FFF;
}

/* Combobox */
.theme-servoy .svy-combobox .ui-select-toggle {
    border: 0;
    border-bottom: 1px solid #DBDBDB;
    border-radius: 0;
    box-shadow: none;
}

.theme-servoy .svy-combobox .ui-select-toggle:hover {
    background-color: inherit;
    border-color: #E9720B;
}

.svy-combobox input {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.svy-combobox input:focus {
	-webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #F5B986;
}

.svy-combobox.ui-select-bootstrap .ui-select-choices-row.active>span {
	background-color: #E9720B;
}


/* Dropdown field */
.dropdown-menu > li > a {
	color: #777777;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	background-color: #E9720B;
}

/* Bootstrap Select  */
.theme-servoy .bts-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.theme-servoy .bts-select option {
	
}

.theme-servoy .bts-select option:checked,
.theme-servoy .bts-select option:focus,
.theme-servoy .bts-select option:hover,
.theme-servoy .bts-select option:active {
	background-color: #E9720B !important;
	background: #E9720B !important;
	outline: none;
}

/* Select2Tokenizer Servoy Extra */
.svy-select2-autotokenizer-dropdown .select2-results__option.select2-results__option--highlighted {
	background-color: #E9720B;
}

/* TabPanel */
.theme-servoy .svy-tabpanel,
.theme-servoy .svy-tabpanel > .nav-tabs > li > a,
.theme-servoy .bts-tabpanel,
.theme-servoy .bts-tabpanel > .nav-tabs > li > a {
	background-color:#F8F8F8;
	color: #777777;
}

.theme-servoy .svy-tabpanel .nav-tabs,
.theme-servoy .bts-tabpanel .nav-tabs {
	border: 0;
}

.theme-servoy .svy-tabpanel > .nav > li.active,
.theme-servoy .svy-tabpanel > .nav > li.active a,
.theme-servoy .bts-tabpanel > .nav > li.active,
.theme-servoy .bts-tabpanel > .nav > li.active a {
	background-color: #E9720B;
	color: #FFF;
	border: 0;
	border-radius: 0;
}

.theme-servoy .svy-tabpanel .nav-tabs > li > a,
.theme-servoy .svy-tabpanel .nav-tabs > li.active > a, 
.theme-servoy .svy-tabpanel .nav-tabs > li.active > a:hover, 
.theme-servoy .svy-tabpanel .nav-tabs > li.active > a:focus,
.theme-servoy .bts-tabpanel .nav-tabs > li > a,
.theme-servoy .bts-tabpanel .nav-tabs > li.active > a, 
.theme-servoy .bts-tabpanel .nav-tabs > li.active > a:hover, 
.theme-servoy .bts-tabpanel .nav-tabs > li.active > a:focus {
	border: 0;
	border-radius: 0;
}

/* Font Awesome *
.theme-servoy data-servoyextra-fontawesome > div {
	display: inline;
	float: left;
	font-size: 18px;
	margin : 0 15px;
}
*/

/* Sidenav Servoy Extra */
.theme-servoy .svy-sidenav {
	background-color: #18222C;
	color: #FFF;
	border: 0;
}

.theme-servoy .svy-sidenav-menu,
.theme-servoy .svy-sidenav-collapse-icon {
	font-size: 12px;
	line-height: 36px;
	color: #FFF;
}

.theme-servoy .svy-sidenav-item {
	font-size: 12px;
}

.theme-servoy .svy-sidenav-dropdown {
	background-color: #18222C;
}

.theme-servoy .svy-sidenav-dropdown {
	font-weight: initial;
}

.theme-servoy .svy-sidenav-dropdown.sn-level-2 {
	margin-left: -20px;
	padding-left: 20px;
}

.theme-servoy .svy-sidenav-item.sn-level-2 {
	margin-right: 0;
}

.theme-servoy .svy-navitem-selected {
	color: inherit;
	background-color: #464E56;
}

.theme-servoy .svy-navitem-selected.sn-level-1 {
	border-left: 5px solid #E9720B;
}

.theme-servoy .svy-sidenav-dropdown.sn-level-1:not(.svy-navitem-selected) {
	padding-left: 5px; /* align non selected items with the selected item */
}

.theme-servoy .svy-sidenav-item:hover,
.theme-servoy .svy-sidenav-item:hover > .svy-sidenav-collapse-icon,
.theme-servoy .svy-sidenav-dropdown.sn-level-2:hover {
	background-color: #464E56;	
}

/* Navbar Bootstrap Extra */
.theme-servoy .navbar {
	border-radius: 0;
}

/* Input Group Bootstrap Extra */
.theme-servoy .bts-extra-navbar .form-control,
.theme-servoy .bts-extra-input-group .form-control {
	border: 1px solid #DBDBDB;
}

.theme-servoy .bts-extra-navbar .form-control:focus,
.theme-servoy .bts-extra-input-group .form-control:focus {
    outline: 1px;
    outline-color: #F5B986;
    border-color: #F5B986;
}

.theme-servoy .bts-extra-input-group .form-control:first-child {
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
}

.theme-servoy .bts-extra-input-group .form-control:last-child {
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}

/* Default Table */
.theme-servoy .ui-grid {
	/*border: 0; */
}

.theme-servoy .ui-grid-header-cell {
	text-transform: uppercase;
	border: 0;
	font-weight: 100;
/*	font-size: 12px; */
}

.theme-servoy .ui-grid-header,
.theme-servoy .ui-grid-top-panel,
.theme-servoy .ui-grid-header-cell,
.theme-servoy .ui-grid-row:nth-child(even) .ui-grid-cell,
.theme-servoy .ui-grid-row:nth-child(odd) .ui-grid-cell {
	background: #FFF;
	color: #777777;
}

.theme-servoy .ui-grid-row .ui-grid-cell {
	border-color: #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
}

.theme-servoy .ui-grid-row div.ui-grid-cell > * {
	border-width: 0;
	box-shadow: none;
}

/* Selected Row */
.theme-servoy .ui-grid-row-selected div.ui-grid-cell {
	background-color: #E9720B !important;
}

.theme-servoy .ui-grid-cell .svy-field, 
.theme-servoy .ui-grid-cell .svy-textarea, 
.theme-servoy .ui-grid-cell .bts-textarea, 
.theme-servoy .ui-grid-cell .svy-textfield, 
.theme-servoy .ui-grid-cell .bts-textbox, 
.theme-servoy .ui-grid-cell .svy-typeahead, 
.theme-servoy .ui-grid-cell .bts-typeahead, 
.theme-servoy .ui-grid-cell .svy-combobox, .theme-servoy .ui-grid-cell .svy-combobox .ui-select-toggle, .theme-servoy .ui-grid-cell .svy-combobox input,
.theme-servoy .ui-grid-cell .bts-select, 
.theme-servoy .ui-grid-cell .svy-calendar, 
.theme-servoy .ui-grid-cell .svy-calendar ~ .input-group-addon, 
.theme-servoy .ui-grid-cell .bts-calendar input, 
.theme-servoy .ui-grid-cell .bts-calendar input ~ .input-group-addon{
	border: 0;
}

.theme-servoy .ui-grid-cell .svy-label,
.theme-servoy .ui-grid-cell .bts-label {
	font-size: 14px;
}

.theme-servoy .ui-grid-row-selected div.ui-grid-cell .svy-label,
.theme-servoy .ui-grid-row-selected div.ui-grid-cell .bts-label {
	color: #FFF;
}

.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-field, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-textarea, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .bts-textarea, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-textfield, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .bts-textbox, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-typeahead, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .bts-typeahead, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-combobox, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-combobox .ui-select-toggle, .ui-grid-row-selected .ui-grid-cell .svy-combobox input,
.theme-servoy .ui-grid-row-selected .ui-grid-cell .bts-select, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .svy-calendar, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .bts-calendar, 
.theme-servoy .ui-grid-row-selected .ui-grid-cell .bts-calendar input {
	outline: #E9720B;
	background-color: #E9720B;
	color: #FFF;
}

/* Servoy Bootstrap/Extra Table */
.theme-servoy .table-bootstrapcomponent-selected,
.theme-servoy .table-servoyextra-selected {
	background-color: #E9720B;
	color: #FFF;
}

.theme-servoy .svy-table  th,
.theme-servoy .svy-table  td,
.theme-servoy .bts-table  th,
.theme-servoy .bts-table  td {
	border-color: #DBDBDB;
}

.theme-servoy .ui-grid-header-cell,
.theme-servoy .svy-table th,
.theme-servoy .bts-table th {
	text-transform: uppercase;
	border: 0;
	font-weight: 100;
/*	font-size: 12px; */
}

/* AG Grid Table */
.theme-servoy .ag-table {
	color: #777777;
}

.theme-servoy .ag-table .ag-header {
	color: #777777;
	text-transform: uppercase;
	font-weight: 100;
}

.theme-servoy .ag-table .ag-row-selected {
	background-color: #E9720B;
	color: #FFF;
}

/* Popup */
.yuimenu {
	padding: 0;
	background: #FFF;
    border-radius: 2px;
}

.yuimenuitemlabel {
	color: #777777;
}

.yuimenuitemlabel a:hover, .yuimenuitemlabel a:focus {
	color: #777777;
}

.yuimenuitemlabel:hover,
.yuimenuitemlabel-selected,
.yuimenuitemlabel-selected:hover {
	background-color: #E9720B;
}

.yuimenubaritemlabel:focus,
.yuimenubaritemlabel:hover,
.yuimenuitemlabel:hover,
.yuimenuitemlabel:focus {
	outline: none;
	text-decoration: initial;
	color: inherit;
}

.yuimenubaritemlabel-selected, 
.yuimenubaritemlabel-selected:hover, 
.yuimenubaritemlabel-selected:focus, 
.yuimenubaritemlabel-selected:visited, 
.yuimenuitemlabel-selected, 
.yuimenuitemlabel-selected:hover,
.yuimenuitemlabel-selected:focus,  
.yuimenuitemlabel-selected:visited {
	background-color: #E9720B;
    color: #FFF;
    text-decoration: inherit;
}

.yuimenubaritemlabel-disabled:focus,
.yuimenubaritemlabel-disabled:hover,
.yuimenuitemlabel-disabled:hover,
.yuimenuitemlabel-disabled:focus {
	color: #DBDBDB;
}

/* Scrollbar Style */
.theme-servoy ::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	padding: 0 5px;
}

.theme-servoy ::-webkit-scrollbar-track {
	border-radius: 0px;
	background: #FFF;
	border: 1px solid #DBDBDB;
}

.theme-servoy ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #DBDBDB;
}
.theme-servoy ::-webkit-scrollbar-thumb:window-inactive {
	background: #F8F8F8;
}

/************************************************************************************
 Style Layout Containers
 *************************************************************************************/

/* Simple Collapsible */
.theme-servoy .simple-collapsible {
	margin-bottom: 15px;
}

.theme-servoy .simple-collapsible-toggle {
	color: #E9720B;
	border-bottom: 1px solid #E9720B;
}

.theme-servoy .simple-collapsible-content > *:first-child {
	margin-top: 15px;
}

.theme-servoy .simple-collapsible-content > *:last-child {
	margin-bottom: 15px;
}

.theme-servoy .simple-collapsible-content {
	border-bottom: 1px solid #E9720B;
}

.theme-servoy .simple-collapsible-toggle .svy-label,
.theme-servoy .simple-collapsible-toggle .bts-label {
	color: #E9720B;
	font-size: 18px;
}

/* Inline Groups */
.theme-servoy .inline-group > .inline-group-left,
.theme-servoy .inline-group > .inline-group-right  {
	line-height: 34px;
}

/* Style the flex footer if used on a form with theme servoy */
.theme-servoy > .flexlayout > .flex-footer {
	background-color: #E9720B;
	color: #FFF;
	height: 80px;
}

.theme-servoy > .flexlayout > .flex-footer .svy-label,
.theme-servoy > .flexlayout > .flex-footer .bts-label {
	color: #FFF;
}

/************************************************************************************
 Class Templates Top Bar 
 *************************************************************************************/
.theme-servoy .header-bar {
	border-top: 12px solid #EB8C39;
	background-color: #E9720B;
	color: white;
	padding: 30px 0;
	font-size: 24px;
	text-transform: uppercase;
}

.theme-servoy .header-bar {
	/* height: initial !important; TODO what is this for, to center the text of a navbar ? */
	
}

.theme-servoy .header-bar .bts-label,
.theme-servoy .header-bar .svy-label {
	color: #FFF;
}

.theme-servoy .header-title {
    text-align: center;
    float: left;
    width: calc(100% - 98px);
    font-size: 24px;
}

/* Labels */
.theme-servoy .label_header_0 {
	background: #F8F8F8;
	color: #E9720B;
	font-size: 24px;
	padding-left: 30px;
	text-transform: uppercase;
}

.theme-servoy .label_header_1 {
	color: #F5B986;
	background: #FFF;
	border-bottom: 1px solid #F5B986;
	font-size: 24px;
	font-weight: 100;
}

.theme-servoy .label_header_2,
.theme-servoy .label_header_3 {
	background: #E9720B;
	color: white;
	font-weight: 100;
	border-radius: 25px;
}

.theme-servoy .label_header_0,
.theme-servoy .label_header_1,
.theme-servoy .label_header_2,
.theme-servoy .label_header_3 {
	display: inline-block;
	width: 100%;
}

.theme-servoy .svy-layoutcontainer > * > .label_header_1,
.theme-servoy .svy-layoutcontainer > * > .label_header_2 {
	margin: 15px 0;
}

.theme-servoy .svy-layoutcontainer > * > .label_header_0,
.theme-servoy .svy-layoutcontainer > * > .label_header_3 {
	display: inline-block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.theme-servoy .label_header_3 {
	text-align: center;
}

.theme-servoy .label_subheader_0 {
	position: absolute;
    top: 25px;
    left: 160px;
}

.theme-servoy .content-panel {
	border-radius: 4px;
	border: 2px solid #E9720B;
	padding: 30px 15px;
	border-bottom-width: 30px;
	min-width: 640px;
}

.label-info
{
	background-color: #5bc0de;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	font-weight: bold;
}
.label-warn
{
	background-color: #FF8000;
	color: #FFF;
	border-radius: 4px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	font-weight: bold;
}
.label-error
{
	background-color: #800000;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	font-weight: bold;
}

.label-info:HOVER {
	background-color: #5a96e1;
}

.message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}